/* CSS PRINCIPAL */


@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

h2, h3, h4, h5, h6, p, span{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

h1{
    font-family: 'Roboto', sans-serif;
}

.uk-modal-title{
    color: #856534;
}

.uk-input{
    background: transparent;
    border: 1px solid #856534;
    color: #856534;
    font-family: 'Roboto Condensed', sans-serif;
}

#indique-enviar{
    background-color: #2e2015;
}

#cachaca, #ingredientes, #diferencial, #banner-mid, #comprar, #copyright{
    background-color: #cfc2ac
}

p{
    color: #856534; 
}

.uk-offcanvas-bar{
    background-image: url(../../assets/img/topo.png); background-size: cover;
}

.uk-margin-auto-vertical{
    font-family: 'Roboto Condensed', sans-serif;
}
z   

.uk-modal-body{
    p{
        color: black;
        font-weight: 300;
    }
}


#cachaca{
    margin-top: -48px;

    h2{
        margin-top: 200px;
        font-weight: bold;
    }

    #garrafa-alma-cabocla{
        margin-top: 30px;
    }

    p{
        font-size: 20px;
    }
    
    .uk-button-default{
        border-color: #907141;
        font-family: 'Roboto Condensed', 'sans-serif';
        font-weight: bold;
        color: #907141;
        font-size: 25px;
        background: transparent;
    }

    @media (max-width:700px){
       h2{
        margin-top: 15px;
        font-size: 18px;
       }

       p{
        font-size: 15px;
       }

       .uk-grid > * > :last-child{
           margin-bottom: 34px;
       }
    }
}

#ingredientes{
    p{
        font-size: 20px;
    }

    h2{
        margin-top: 50px;
    }

    @media (max-width:700px){
        h2{
            margin-top: -613px;
            font-size: 18px;
        }

        p{
            font-size: 18px;
        }

        #block-image-cana{
            margin-top: 280px;
        }

    }

    @media (max-width: 900px) and (orientation: landscape){
        h2{
            margin-top: 0px!important;
            font-size: 20px;
        }

        #block-image-cana{
            margin-top: 0px!important;
        }
    }
}

#diferencial{
    p{
        font-size: 20px;
    }

    .uk-button-default{
        border-color: #907141;
        font-family: 'Roboto Condensed', 'sans-serif';
        font-weight: bold;
        color: #907141;
        font-size: 25px;
        background: transparent;
    }

    @media (max-width:700px){
        h2{
            font-size: 18px;
        }

        p{
            font-size: 15px;
        }

    }
}

#comprar{
    h2{
        margin-top: 50px;
    }

    span{
        font-weight: bold;
        color: black; 
        font-size: 40px;
    }

    .uk-list{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li{
        float: left;
        padding: 16px;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Roboto Condensed', sans-serif;
        color: black;
    }

    @media (max-width:700px){
        h2{
            font-size: 18px;
        }
    }
}

#copyright{
    p{
        text-align: center;
    }

    #modal-example-politica{
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        color: black!important;
    }
}

#banner-topo{
    h1{
        margin-top: 200px;
    }

    .uk-list{
        list-style-type: none;
        margin: 0 0 0 276px;
        padding: 0;
        overflow: hidden;
    }

    li{
        float: left;
        padding: 63px 0 0 83px;
    }


    @media (max-width:700px){
        li{
            padding: 0 0 0 0;
        }

        .uk-list{
            margin: 0 0 0 43px;
        }
    }
}