#footer{
    .uk-card-distribuicao{
        text-align: left;
        width: 57%;
        margin-top: 153px;
        p{
            color: #5f4316!important;
        }
    }

    .uk-card{
        margin-top: 130px;
        margin-left: 230px;
    }

    @media (max-width:700px){
        .uk-card-distribuicao{
            width: 90%;
            margin-top: 0px;
            padding: 20px;
        }

        .uk-card{
            margin-top: 150px;
            margin-left: 0px;
        }
    }
}