/* header */

.uk-navbar-nav>li>a{
    color: #856534; font-size: 15px; font-family: 'Roboto Condensed', sans-serif; font-weight: bold;
}

.uk-logo{
    margin-left: 230px;

    @media (max-width:900px){
        margin-left: 0px;
    }
}