.uk-navbar-container:not(.uk-navbar-transparent){
    background-image: url(../../assets/img/topo.png); background-size: cover;
}

#banner-topo{
    background-image: url(../../assets/img/banner-home.png); background-size: cover; height: 800px;

    h1{
        color: white; font-size: 25px; justify-content: center; align-items: center ;vertical-align: middle;
    }
}

#quick-buy{
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    z-index: 12;
    text-align: left;
    width: 3%;

    @media (max-width:900px){
        display: none;
    }
}
/* imagens */

#quick-buy .facebook{
    background-color: #826333;
    width: 106%;
}

#quick-buy .cart{
    background-color: #150e06;
    width: 106%;
}

#quick-buy>span{
    display: block;
    padding: 10px;
    color: #fff;
}

#diferencial{
    #block-barril{
        padding-right: 63px;
        margin-top: -60px;
    }

    @media (max-width:700px){
        #block-barril{
            padding-right: 0px!important;
            margin-top: -25px;
        }
    }
}

#footer{

    margin-top: -33px;

    #block-footer{
        padding-top: 150px;
    }
}